<!DOCTYPE html>
<html>
  <head>
    <title>로그인</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    
    <div id="action">
        <h1>로그인</h1>
        <div id="login">
            <form action="/login" method="post">
                아이디 <input id="id" type="text" name="login_id" placeholder="id 입력"><br>
                비밀번호 <input id="pw" type="password" name="login_pw" placeholder="pw 입력"></input>
                <button id="submit">로그인</button>
            </form>
        </div>
        <h1 id="register-title">회원가입하기</h1>
        <div id="register">
            <form action="/login/register" method="post">
                아이디 <input id="id" type="text" name="register_id" placeholder="id 입력"><br>
                비밀번호 <input id="pw" type="password" name="register_pw" placeholder="pw 입력"></input>
                <button id="submit">회원가입</button>
            </form>
        </div>
    </div>
  </body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    body{
        font-family: 'Jua', sans-serif;
    }
    #action{
        border: none;
        background-color: aqua;
        width: fit-content;
        height: fit-content;
        border-radius: 20px;
        padding: 10px;
        margin: auto auto;
        margin-top: 20%;
    }

    input{
        border: none;
        border-radius: 10px;
        width: 200px;
        height: 30px;
        margin: 3px;
    }

    h1{
        font-size: 40px;
    }

    button{
        border: none;
        border-radius: 10px;
    }
  </style>
  <script>
    $(function(){
        $('#register').css('display', 'none');
        $('#register-title').click(function(){
            if($('#register').is(':visible')){
                $('#register').slideUp();
            }else{
                $('#register').slideDown();
            }
        })
    })();
  </script>
</html>